.fire {
    background-color: #f97316;
    box-shadow: 0 0 1.6rem #f97316;
}

.grass {
    background-color: #16a34a;
    box-shadow: 0 0 1.6rem #16a34a;
}

.water {
    background-color: #0ea5e9;
    box-shadow: 0 0 1.6rem #0ea5e9;
}

.ice {
    background-color: #60a5fa;
    box-shadow: 0 0 1.6rem #60a5fa;
}

.poison {
    background-color: #7e22ce;
    box-shadow: 0 0 1.6rem #7e22ce;
}

.bug {
    background-color: #84cc16;
    box-shadow: 0 0 1.6rem #84cc16;
}

.electric {
    background-color: #eab308;
    box-shadow: 0 0 1.6rem #eab308;
}

.rock {
    background-color: #fdba74;
    box-shadow: 0 0 1.6rem #fdba74;
}

.ground {
    background-color: #78350f;
    box-shadow: 0 0 1.6rem #78350f;
}

.fairy {
    background-color: #db2777;
    box-shadow: 0 0 1.6rem #db2777;
}

.flying {
    background-color: #818cf8;
    box-shadow: 0 0 1.6rem #818cf8;
}

.psychic {
    background-color: #e879f9;
    box-shadow: 0 0 1.6rem #e879f9;
}

.ghost {
    background-color: #1e1b4b;
    box-shadow: 0 0 1.6rem #1e1b4b;
}

.fighting {
    background-color: #dc2626;
    box-shadow: 0 0 1.6rem #dc2626;
}

.steel {
    background-color: #94a3b8;
    box-shadow: 0 0 1.6rem #94a3b8;
}

.normal {
    background-color: #64748b;
    box-shadow: 0 0 1.6rem #64748b;
}

.dragon {
    background-color: #a78bfa;
}