@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  background: #0f172a; }

.copyright {
  z-index: 99;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-items: end;
  color: #e2e8f03a;
  background: #4755693a;
  padding: .8rem;
  border-radius: .8rem;
  cursor: pointer;
  transition: background 100ms ease-in; }
  .copyright:hover {
    background: #94a3b83a; }

.title {
  font-weight: 800;
  letter-spacing: .2rem; }

.red {
  color: #dc2626; }

.blue {
  color: #cbd5e1; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  min-width: 35rem;
  width: 60rem;
  padding: 3.4rem;
  overflow-y: auto;
  background: #1e293b;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem; }

.header {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  width: 100%; }
  .header__form {
    display: flex;
    gap: .8rem; }

input[type="number"] {
  font-size: 2.4rem;
  font-weight: 700;
  width: 8rem;
  border-radius: .8rem;
  background: #334155;
  border: none;
  color: #cbd5e1; }

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

.search {
  height: 5.2rem;
  width: 100%;
  padding: .8rem 2.4rem;
  border-radius: .8rem;
  border: .2rem solid none;
  color: #cbd5e1;
  background: #334155;
  display: flex;
  gap: .8rem;
  justify-content: space-between; }
  .search__input {
    width: 100%;
    height: 100%;
    border: none;
    background: none; }
  .search__icon {
    height: 100%;
    aspect-ratio: 1/1; }

::placeholder {
  color: #cbd5e1; }

.pokedex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: .8rem;
  height: 100%;
  width: 100%; }

.pokemon {
  position: relative;
  width: calc(100% / .2rem);
  height: auto;
  color: #cbd5e1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  background: #334155;
  border-radius: .8rem;
  transition: all 0.05s ease-in-out; }
  .pokemon:hover, .pokemon:focus {
    z-index: 99;
    transform: scale(1.1); }
  .pokemon[type="grass"]:hover {
    box-shadow: 0 0 1.6rem #107636; }
  .pokemon[type="fire"]:hover {
    box-shadow: 0 0 1.6rem #d65b06; }
  .pokemon[type="water"]:hover {
    box-shadow: 0 0 1.6rem #0b83b9; }
  .pokemon[type="ice"]:hover {
    box-shadow: 0 0 1.6rem #2f89f8; }
  .pokemon[type="poison"]:hover {
    box-shadow: 0 0 1.6rem #631ba2; }
  .pokemon[type="bug"]:hover {
    box-shadow: 0 0 1.6rem #669e11; }
  .pokemon[type="electric"]:hover {
    box-shadow: 0 0 1.6rem #b98d06; }
  .pokemon[type="rock"]:hover {
    box-shadow: 0 0 1.6rem #fca142; }
  .pokemon[type="ground"]:hover {
    box-shadow: 0 0 1.6rem #4b2109; }
  .pokemon[type="fairy"]:hover {
    box-shadow: 0 0 1.6rem #b11e5f; }
  .pokemon[type="flying"]:hover {
    box-shadow: 0 0 1.6rem #5160f5; }
  .pokemon[type="psychic"]:hover {
    box-shadow: 0 0 1.6rem #e048f7; }
  .pokemon[type="ghost"]:hover {
    box-shadow: 0 0 1.6rem #0f0e26; }
  .pokemon[type="fighting"]:hover {
    box-shadow: 0 0 1.6rem #b21d1d; }
  .pokemon[type="steel"]:hover {
    box-shadow: 0 0 1.6rem #7589a4; }
  .pokemon[type="normal"]:hover {
    box-shadow: 0 0 1.6rem #4f5b6d; }
  .pokemon__id + .pokemon:hover {
    animation: rainbowNumber 3s infinite linear backwards; }
  .pokemon__id {
    position: absolute;
    color: #e2e8f0;
    font-size: 3.2rem;
    font-weight: 800;
    rotate: -90deg;
    top: 3rem;
    left: 0; }
  .pokemon__types {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    top: 0;
    right: 0;
    margin-top: 2.4rem;
    margin-right: 2.4rem; }
    .pokemon__types--wrapper {
      height: 2.8rem;
      width: 2.8rem;
      border-radius: 10rem;
      padding: .4rem; }
    .pokemon__types--type {
      height: 100%;
      width: 100%; }
  .pokemon__name {
    margin-top: 2.4rem;
    font-weight: 600; }
  .pokemon__image {
    cursor: pointer;
    width: calc(100% / 1.5); }
  .pokemon__attributes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .4rem;
    background: #475569;
    border-radius: .8rem;
    padding: .8rem 1.6rem; }
  .pokemon__attribute--title {
    font-weight: 600; }

@keyframes rainbowNumber {
  0% {
    color: #ef4444; }
  12.5% {
    color: #f97316; }
  25% {
    color: #eab308; }
  37.5% {
    color: #84cc16; }
  50% {
    color: #10b981; }
  62.5% {
    color: #06b6d4; }
  75% {
    color: #3b82f6; }
  87.2% {
    color: #6366f1; }
  100% {
    color: #ef4444; } }

.fire {
  background-color: #f97316;
  box-shadow: 0 0 1.6rem #f97316; }

.grass {
  background-color: #16a34a;
  box-shadow: 0 0 1.6rem #16a34a; }

.water {
  background-color: #0ea5e9;
  box-shadow: 0 0 1.6rem #0ea5e9; }

.ice {
  background-color: #60a5fa;
  box-shadow: 0 0 1.6rem #60a5fa; }

.poison {
  background-color: #7e22ce;
  box-shadow: 0 0 1.6rem #7e22ce; }

.bug {
  background-color: #84cc16;
  box-shadow: 0 0 1.6rem #84cc16; }

.electric {
  background-color: #eab308;
  box-shadow: 0 0 1.6rem #eab308; }

.rock {
  background-color: #fdba74;
  box-shadow: 0 0 1.6rem #fdba74; }

.ground {
  background-color: #78350f;
  box-shadow: 0 0 1.6rem #78350f; }

.fairy {
  background-color: #db2777;
  box-shadow: 0 0 1.6rem #db2777; }

.flying {
  background-color: #818cf8;
  box-shadow: 0 0 1.6rem #818cf8; }

.psychic {
  background-color: #e879f9;
  box-shadow: 0 0 1.6rem #e879f9; }

.ghost {
  background-color: #1e1b4b;
  box-shadow: 0 0 1.6rem #1e1b4b; }

.fighting {
  background-color: #dc2626;
  box-shadow: 0 0 1.6rem #dc2626; }

.steel {
  background-color: #94a3b8;
  box-shadow: 0 0 1.6rem #94a3b8; }

.normal {
  background-color: #64748b;
  box-shadow: 0 0 1.6rem #64748b; }

.dragon {
  background-color: #a78bfa; }

@media screen and (max-width: 60rem) {
  .container {
    width: 100%;
    height: 100%;
    border-radius: 0; } }

@media screen and (min-width: 40rem) and (max-width: 60rem) {
  .pokedex {
    grid-template-columns: repeat(3, 1fr); } }
